<% if logged_in? %>
<% provide :title, t(".title") %>
<div class="container">

    <%= render "shared/feed" %>

</div>
<% else %>
<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".application" %></h1>

  <h2>
    <%= t ".intro" %>
    <a href="http://www.railstutorial.org/"><%= t ".tutorial" %></a>
    <%= t ".application" %>.
  </h2>
  <%= link_to t("layout.Signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
