<% if BookStatus.user_book(current_user.id, book.id).first
    @book_status = BookStatus.user_book(current_user.id, book.id).first
    status = @book_status.status
  else
    @book_status = BookStatus.new
    status = "unread"
  end
%>

<tr data-status="<%= status %>" class="book_<%= book.id %>">
  <td>
    <%= render "favorite_form", book: book %>
  </td>
  <td>
    <span class="media-meta pull-right"><%= book.publish_date %></span>
    <h4 class="title">
      <%= book.title %>
      <span class="pull-right book_status" status=<%= status %>>
        <%= status %>
      </span>
    </h4>
    <span class="summary"><%= t("model.book.author") + book.author %></span>
    <span class="summary"><%= pluralize(book.pages_count, t("model.book.page")) %></span>
     <%= render "book_status_form", book: book %>
  </td>
</tr>
