<%= form_tag "/books", method: :get, class: "search-form" do %>
  <%= label_tag t "model.book.title"%>
  <%= text_field_tag :title_contains, params[:title_contains], placeholder: t(".title_holder"),
    class: "form-control" %>
  <%= label_tag t "model.book.author"%>
  <%= text_field_tag :author_contains, params[:author_contains], placeholder: t(".author_holder"),
    class: "form-control" %>
  <%= label_tag t("model.book.category") %>
  <%= collection_select("",:category_id_is, Category.all, :id, :name, {:include_blank => t(".all_categories")}, {class: "form-control"}) %>
  <% book_status = [[t('.all'), ''],[t('.reading'), 'reading'], [t('.as_read'), 'as_read']] %>
  <%= label_tag t(".by_status") %>
  <%= select_tag(:status_is,options_for_select(book_status),{class: "form-control"}) %>
  <div class="text-center" ><%= submit_tag t(".search"), name: nil,
    class: "btn btn-success btn-m search-form-submit" %></div>
<% end %>
