<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for resource, as: resource_name, url:
      session_path(resource_name) do |f| %>
      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "form-control" %>

      <%= f.label :password, t(".password") %>
      <%= f.password_field :password, autocomplete: "current-password",
        class: "form-control" %>

      <%= f.submit t(".sign_in"), class: "btn btn-primary btn-m" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
